@include page(admin) {

  @include part(header) {
    @extend .base-page__header;
    background: get-url('login/dreamsArkRef43.jpg') center center;
  }

  @include part(top) {

    padding-top: 1em;
    background-color: color(black);
    color: color(white);

    @include a(true, $color: gray);

    @include part(brand) {
      img {
        width: 80%;
      }
    }

    @include part(content) {
      padding-top: 5em;
    }

  }

}
