@include page(home) {

  @include part(background) {

    @extend .base-page__background;

    background: get-url('profile/dreamsArkRef89.png') center 20%;

    @include part(overlay) {

      @extend .base-page__background__overlay;

      background-color: color($color: primary, $alpha: 50);

    }

  }

  @include part(not-member) {
    background: color(primary);
    padding: 2em;
    color: white;

    h2 {
      margin-top: 0;
      font-weight: normal;
    }

  }

}
