@include page(login) {

  height: 100%;
  width: 100%;
  background: get-url('login/test_illustration.jpg') no-repeat center center;
  background-size: cover;

  @include part(register-avatar) {

    position: relative;
    left: 0;
    right: 0;
    width: 10em;
    margin: 0 auto -7em auto;
    top: -7em;

    img {
      border-radius: 100em;
    }

  }

}
