@include page(profile) {

  a {

    &:hover {
      color: color(black);
    }

  }

  h3 {
    margin: 0;
    line-height: normal;
  }

  @include part(profiles) {

    list-style: none;
    margin: 0;
    padding: 0 1em;
    text-align: left;

    li {

      margin: 1em 0;
      padding: 1em;
      border-radius: 10px;
      border: .1em solid transparent;

      @include respond-to(desktop) {
        padding: 2em;
        transition: .25s;
      }

      @include option(active) {
        background: color(gray, base, 10);
        border: .1em dashed color(gray);
      }

      @each $color in $profile-colors {

        @include option($color) {

          $color: nth($color, 1);

          &:hover {

            background: profile-color($color: $color, $alpha: 8);
            border: .1em dashed profile-color($color, light, 20);

            & h3 {
              color: profile-color($color)
            }

          }

        }

      }

      &:hover {
        @include respond-to(desktop) {
          transform: scale(1.1);
        }
      }

    }

    @include part(icon) {
    }

  }

  @include part(canvas) {
    padding: 0;
    //position: absolute;
    //top: 0;
    //left: 0;
    //min-width: 100%;
    min-height: 500px;
    max-height: 500px;
    //z-index: -1;
    pointer-events: auto;
  }

  @include base-header() {

    background: get-url('profile/dreamsArkRef89.png') center 20%;

    transition: height .35s;
    transition-property: background-position-y, height;

    @include option(extended) {

      height: 300px;

      &:hover {
        height: 400px;
        background-position-y: 50%;
      }

    }

  }

  @include part(palette) {

    user-select: none;
    cursor: pointer;
    //flex-basis: 100px;
    max-width: 100px;
    max-height: 100px;
    height: 100px;
    width: 100px;
    transition: .15s;
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;

    $colors: (
            1: #E91E63,
            2: #9C27B0,
            3: #673AB7,
            4: #3F51B5,
            5: #2196F3,
            6: #03A9F4,
            7: #00BCD4,
            8: #009688,
            9: #4CAF50,
            10: #8BC34A,
            11: #CDDC39,
            12: #FFEB3B,
            13: #FFC107,
            14: #FF9800,
            15: #FF5722,
            16: #795548,
            17: #9E9E9E,
            18: #607D8B,
            19: #0D47A1,
            20: #004D40
    );

    @each $color in $colors {

      @include option(color-#{nth($color, 1)}) {
        &:hover {
          background: nth($color, 2);
        }
      }

    }

    &:hover {

      transform: scale(1.2);

      & .profile-page__palette__item {
        background: color($color: pure-black, $alpha: 30);
      }

      & span {
        display: block;
      }

    }

    &:active {
      transform: scale(.9);
      & .profile-page__palette__item {
        background: color($color: pure-black, $alpha: 50);
      }
    }

    @include part(item) {
      color: white;
      padding: .2em;
      padding: 0;
      margin: 0;
      background: color($color: pure-black, $alpha: 10);
      border-radius: 100%;
      pointer-events: none;

      width: 100px;

      img {

        //position: relative;
        //left: 0;
        //right: 0;
        //transform: scale(1.2);
        border-radius: 100em;
      }

      & span {
        display: none;
        position: absolute;
        border-radius: .3em;
        transform: scale(2);
        padding: 1em;
        width: auto;
        font-size: .35em;
        //white-space: nowrap;
        top: -30%;
        left: 0;
        right: 0;
        font-weight: bolder;
        text-transform: uppercase;
        background: color($color: pure-black, $alpha: 70);

      }

    }

    @include part(select) {
      padding: 2em;
    }

  }

}
