@include page(project) {

  padding-bottom: 5em;
  position: relative;
  z-index: 2;

  @include base-header() {
    height: 15em;
  }

  @include part(background) {

    @extend .base-page__background;

    background: get-url('login/dreamsArkRef43.jpg') center bottom;

    @include part(overlay) {
      @extend .base-page__background__overlay;
      background: color(primary, base, 40);
    }

  }

  @include part(featured) {

    position: relative;

    height: 500px;

    img {
      object-fit: cover;
      height: 100%;
    }

    @include option(half) {
      @include respond-to(desktop) {
        height: 250px;
      }
    }

    @include part(overlay) {

      position: absolute;
      bottom: 0;
      padding: 2em;

      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74902) 100%);
      transition: background 0.25s linear;
      z-index: 1;

      h1, p {
        color: color(white);
        margin: 0;
        padding: 0;
      }

    }

  }

  @include part(highlights) {
    padding: 2em 0;
    text-align: center;

    a {

      img {
        object-fit: cover;
        width: 100%;
        height: 400px;
      }

      & > div {
        padding-top: 1.3em;
      }

      @include base-scalable($scale: 1.05) {
        z-index: 9;
      }

    }
  }

  @include part(list) {

    line-height: normal;

    h1 {
      font-size: 1.5em;
    }

    ul {

      margin: 0;
      padding: 0;
      font-size: small;
      list-style: none;

      li {
        display: inline-block;
        @include all-but-first-last(2) {
          padding: 0 .2em;
        }
      }

    }

    @include part(load-more) {
      padding: 2em;
    }

    @include part(item) {

      margin-bottom: 2em;

      border-radius: .3em;
      border: solid 1px transparent;

      img {
        margin-top: 1em;
        border-radius: .2em;
        object-fit: cover;
        width: 100%;
        height: 300px;
      }

      a {

        & > div {
          padding: 1em 0;

          & p {
            font-size: .9em;
          }

        }

      }

      @include last(2) {
        margin-bottom: 0;
      }

      @include option(stage-idea) {
        &:hover {
          background: color(primary, base, 3);
          border: dashed 1px color(primary, base, 20);
        }
      }

      @include option(stage-synapse) {
        &:hover {
          background: color(secondary, base, 3);
          border: dashed 1px color(secondary, base, 20);
        }
      }

      @include option(stage-script) {
        &:hover {
          background: color(ternary, base, 3);
          border: dashed 1px color(ternary, base, 20);
        }
      }

      @include option(stage-review) {
        &:hover {
          background: color(success, base, 3);
          border: dashed 1px color(success, base, 20);
        }
      }

      @include option(stage-distribution) {
        &:hover {
          background: color(black, base, 3);
          border: dashed 1px color(black, base, 20);
        }
      }

    }

  }

  @include part(info) {

    border-radius: .3em;
    color: color(white);
    padding: 0;
    background-size: cover;
    background: get-url('temp/2.jpg') center center;

    height: 100%;

    @include breakpoint(small down) {
      margin-bottom: 2em;
    }

    //img {
    //
    //  height: 500px;
    //  object-fit: cover;
    //
    //  @include breakpoint(small down) {
    //    height: 630px;
    //  }
    //
    //  @include breakpoint(medium up) {
    //    border-radius: .3em;
    //  }
    //}

    @include part(overlay) {

      //position: absolute;
      //top: 0;
      padding: 2em;

      width: 100%;
      height: 100%;
      background-color: color($color: primary, $tone: x-dark, $alpha: 90);
      z-index: 1;
      transition: .25s;

      @include breakpoint(medium up) {
        border-radius: .3em;
      }

      &:hover {
        background-color: color($color: primary, $tone: x-dark, $alpha: 80);
      }

      h1, p {
        color: color(white);
        margin: 0;
        padding: 0;
      }

      & > div {
        margin: 1em 0;
        font-weight: bolder;

        span {

          display: block;
          font-weight: normal;

          a {
            @extend a.\--inverted
          }

        }

      }

      @include part(spacer) {
        padding-bottom: 1em;
      }

    }

  }

  @include part(avatar) {
    position: relative;
    margin: 2em 0;
    width: 100px;
    text-align: center;
    z-index: 3;
  }

  @include part(achievements) {
    margin-bottom: 1em;
    width: 7em;
  }

  @include part(right-divider) {
    border-right: 1px solid color($color: white, $alpha: 50);
    width: 100%;
    height: 100%;
  }

  /**
  * Idea Partial
  */
  @include part(top-animation) {

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    @include part(content) {

      position: absolute;
      width: 100%;
      margin: auto;
      height: 100%;
      top: -1.5em;
      left: 0;
      right: 0;

      img {
        object-fit: cover;
      }

    }

  }

  @include part(requirement-content) {
    margin-top: 1em;
    padding: 5em 3em 3em;
  }

  /**
  * Review
  */
  @include part(review) {

    @include part(steps) {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -20%;
    }

    @include part(illustration) {
      position: absolute;
      right: 0;
      top: -46%;
      z-index: -1;
    }

  }

}
