@each $color-list in $colors {

  %color-#{nth($color-list, 1)} {

    $temp: map_get(nth($color-list, 2), base);

    @if lightness(color(nth($color-list, 1))) > 40 {
      $temp: map_get(nth($color-list, 2), x-light);
    }

    color: $temp;

    a {

      color: $temp;

      &:hover {
        color: color(primary);
      }

    }

  }

  %background-color-#{nth($color-list, 1)} {
    background-color: map_get(nth($color-list, 2), base);
  }

  %background-color-hover-#{nth($color-list, 1)} {
    a:hover, &:hover {

      @if lightness(map_get(nth($color-list, 2), light)) < 40 {
        color: map_get(nth($color-list, 2), xx-light);
      } @else {
        color: map_get(nth($color-list, 2), dark);
      }

      background-color: map_get(nth($color-list, 2), light);
    }
  }
}

$color: null !global;

@mixin colors($text-color: true, $background-color: false, $hover: false) {

  @each $color-list in $colors {

    @include option(color-#{nth($color-list, 1)}) {

      @if $background-color {

        @if $text-color {

          @if lightness(map_get(nth($color-list, 2), base)) > 50 {
            $color: black !global;
            @extend %color-black;
          } @else {
            $color: white !global;
            @extend %color-white;
          }

        }

        @if $hover {
          @extend %background-color-hover-#{nth($color-list, 1)};
        }

        $background-color: nth($color-list, 1) !global;
        @extend %background-color-#{nth($color-list, 1)};

      } @else if $text-color {
        $color: map_get(nth($color-list, 2), base) !global;
        @extend %color-#{nth($color-list, 1)};
      } @else {
        $color: map_get(nth($color-list, 2), base) !global;
      }

      @content;

    }

  }

}
