/.idea
/bower_components
/node_modules
.DS_Store
*.psd
*.ai
*.aep
*.zip
*.rar
*.mov
/vendor
.env
_ide_helper.php
*.lock
/public/user-profiles

*.pem
*.cert
*crt


/resources/assets/typescript/**/*.js
.map
/.phpstorm.meta.php
/public/css/
/public/js/
/public/translation-assets/
node_modules
