node_modules
vendor
/.idea

#Ignore All Javascript Files
*.map
/public/**/**
!/public/img/**/**.*
!/public/**.*
!/public/animations/**.*
!/public/models/**.*
/resources/assets/typescript/**/**.js

#Ignore Env Files
.env
*.meta*
*.lock
_ide_helper.php
.DS_Store
/packages/SkysoulPayment/Payment/src/Implementations/Key/**/**.*

#Ignore Archiver
*.zip
*.rar

#Ignore Templates
*.psd
*.ai
*.aep

#Ignore Referencies
/referencies
