@include component(footer) {

  background: darken(color(primary, x-dark), 20);
  padding: 3em 0;

  @include part(logo) {
    img {
      height: 2.5em;
    }
  }

  @include part(links) {
    padding: 0;
    list-style: none;

    a {
      @extend a.\--inverted;
    }
  }

}
