@include component(footer) {

  background: get-url('footer.jpg') center top darken(color(primary, x-dark), 20);
  padding: 3em 0;
  color: color(white);

  @include part(logo) {
    img {
      height: 2.5em;
    }
  }

  @include part(links) {
    display: flex;

    ul {
      padding: 0;
      list-style: none;
      flex: 1;
      margin: 0;

      li {
        @include option(title) {
          @include title(medium, white);
          text-transform: uppercase;
          padding: 0;
          margin-bottom: 1em;
        }
      }

      a {
        @extend a.\--inverted;
      }

    }

  }

}
