@include component(card) {

  $border: 5px;

  padding: 1em;
  position: relative;

  @include part(image) {

    img {
      border-radius: $border $border 0 0;
    }

    @include part(avatar) {
      position: absolute;
      right: 0;
      margin: -3em 2em;
      transition: .25s;

      @include respond-to(desktop) {
        margin: -2em 2em;
      }

      &:hover {
        transform: scale(1.5, 1.5);
      }

      img {
        border-radius: 100%;
        width: 6em;
        height: 6em;

        @include respond-to(desktop) {
          width: 4em;
          height: 4em;
        }

      }
    }

    @include part(stage) {
      font-size: $h5;
      font-weight: bold;
      color: color(white);
      background: color(primary);
      width: auto;
      position: absolute;
      margin: -.8em 1.4em;
      border-radius: 3px;
      padding: 0 .5em;
      text-transform: uppercase;
    }

  }

  @include part(footer) {

    background: color(gray, light);
    border-radius: 0 0 $border $border;
    padding: 1em;

    font-size: small;
    font-weight: normal;

    box-shadow: 0 5px 5px 0 color(black, x-dark, 10);

  }

  @include part(content) {

    padding: 1em 1em 0 1em;
    box-shadow: 0 5px 5px 0 color(black, x-dark, 10);
    border-radius: $border;
    border: 1px solid transparent;
    background: color(white);

    @include part(title) {

      padding: 1em 0 .8em 0;
      line-height: 1.8em;

      h1, h3 {
        margin: 0;
      }

      h1 {
        @include font-style($style: title, $color: black);
      }

      h3 {
        @include font-style($style: sub-title, $color: black)
      }

    }

    @include option(has-image) {
      border-radius: 0 0 $border $border;
    }

    @include option(has-footer) {
      border-radius: 0;
    }

  }

}