@include component(chart) {

  position: relative;
  display: flex;
  align-content: center;
  font-weight: bold;

  canvas {
    margin: 0 auto;
  }

  @include part(content) {

    position: absolute;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 110px;
    width: 100px;

    @include option(percentage) {
      &:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
      }
    }

    @include option(reward) {
      &:before {
        content: attr(data-currency-simbol);
        margin-right: .2em;
        font-size: 1em;
      }
    }

  }

  @include option(centered) {
    margin: 0 auto;
  }

}
