@mixin dreamsark-divider() {

  @include component(divider) {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-size: $h4;
    text-transform: uppercase;
    color: color(gray);
    margin: 1em 0;

    &:before, &:after {
      content: '';
      flex: 1;
      background: color(gray, light);
      height: 1px;
    }

    &:before {
      margin: 0 .25em 0 0;
    }

    &:after {
      margin: 0 0 0 .25em;
    }

    @include option(mini) {
      font-size: $h5;
    }

    @include option(simple) {

      &:before {
        margin: 0;
      }

      &:after {
        margin: 0;
      }

    }

  }

}