@include component(divider) {

  display: flex;
  justify-content: center;
  align-items: center;

  @include font-size(normal);
  text-transform: uppercase;
  color: color(gray, dark);

  width: 100%;
  margin: 1em 0;

  &:before, &:after {
    content: '';
    flex: 1;
    background: color(gray);
    height: 1px;
  }

  &:before {
    margin: 0 .25em 0 0;
  }

  &:after {
    margin: 0 0 0 .25em;
  }

  @include option(mini) {
    @include font-size(small)
  }

  @include option(spaced) {
    margin: 1.5em 0;
  }

  @include option(hair-line) {
    opacity: .2;
  }

  @include option(straight) {
    background: color(gray);
  }

  @include option(simple) {

    &:before {
      margin: 0;
    }

    &:after {
      margin: 0;
    }

  }

}
