@include component(flipper) {

  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  div {
    backface-visibility: hidden;
    font-smoothing: antialiased;
  }

  @include part(front) {
    backface-visibility: hidden;
  }

  @include option(flipped) {
    //justify-content: flex-end;
    transform: rotateX(180deg);
  }

  @include part(back) {
    transform: rotateX(180deg)
  }

}
