@include component(flipper) {

  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  div {
    backface-visibility: hidden;
    font-smoothing: antialiased;
  }

  @include part(front) {
    backface-visibility: hidden;
  }

  @include option(flipped) {
    justify-content: flex-end;
    transform: rotateX(180deg);
  }

  @include part(back) {
    transform: rotateX(180deg)
  }

}

//
//.card {
//  width: 10%;
//  height: 10%;
//  position: absolute;
//  transform-style: preserve-3d;
//  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
//
//  div {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    backface-visibility: hidden;
//    border-radius: 6px;
//    background: #fff;
//    font-smoothing: antialiased;
//    color: #47525D;
//  }
//
//  .back {
//    transform: rotateY(180deg)
//  }
//
//  &.flipped {
//    transform: rotateY(180deg)
//  }
//
//}
