@mixin dreamsark-global() {

  * {
    /* So 100% means 100% */
    box-sizing: border-box;
  }

  html, body {
    /* Make the body to be as tall as browser window */
    height: 100%;
    background-color: color(neutral);
    font-size: 20px;

    @include respond-to(desktop) {
      font-size: 15px;
    }

  }

  @include component(main) {

    display: flex;
    align-items: center;
    justify-content: center;

    background: url('/img/universe.jpeg') no-repeat center center;
    background-size: cover;

  }

}

