@include component(header) {

  @include font-size(medium);
  @include font-weight(bold);

  @include option(uppercase) {
    @extend .\+uppercase;
  }

  span {
    @include font-weight(normal);
  }

  p {

    @include font-size(smaller);
    line-height: normal;
    font-weight: normal;

  }

  @include option(light) {
    @include font-weight(normal);
    color: color(gray, dark);
  }

  @include option(small) {
    @include font-size(h2);
  }

  //margin: 2em 0;

  //font-size: $h1;
  //font-weight: bold;

  //text-align: center;

  //h1 {
  //  margin: 0;
  //}

  //span {
  //  font-weight: normal;
  //}

  @include option(left) {
    text-align: left;
  }

  @include option(full) {

    text-align: left;

    p {
      width: 100%;
    }
  }

  @include option(inverted) {

    &, p {
      @extend .\+white;
    }

  }

  @include option(centered) {
    text-align: center;
  }

  @include option(classic) {

    @include title($size: large);

    p {
      margin: 10px 0 0 0;
      font-size: medium;
    }

  }

  @include option(with-divider) {
    padding-bottom: .7em;
    border-bottom: 1px solid color(black, light);
  }

}

header {
  @extend .header
}
