@include component(header) {

  @include font-size(xx-larger);
  @include font-weight(bold);

  @include option(uppercase) {
    @extend .\+uppercase;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  span {
    @include font-weight(normal);
  }

  p {
    @include font-size(medium);
    line-height: normal;
    font-weight: normal;
  }

  @include option(light) {
    @include font-weight(normal);
    color: color(gray, dark);
  }

  @include option(light-weight) {

    @include font-weight(normal);

    p, span, h1, h2, h3, h4, h5, h6 {
      @include font-weight(normal);
    }

  }

  @include option(small) {
    @include font-size(h2);
  }

  @include option(medium) {
    @include font-size(medium);
  }

  @include option(large) {
    @include font-size(large);
  }

  @include option(centered) {
    text-align: center;
  }

  @include colors() {
    p {
      color: $color
    }
  }

  @include option(with-divider) {
    padding-bottom: .3em;
    border-bottom: 1px solid color($color: gray, $alpha: 50);
    margin-bottom: 1em;
  }

  //margin: 2em 0;

  //font-size: $h1;
  //font-weight: bold;

  //text-align: center;

  //h1 {
  //  margin: 0;
  //}

  //span {
  //  font-weight: normal;
  //}

  //@include option(left) {
  //  text-align: left;
  //}

  //@include option(full) {
  //
  //  text-align: left;
  //
  //  p {
  //    width: 100%;
  //  }
  //}

  //@include option(classic) {
  //
  //  @include title($size: large);
  //
  //  p {
  //    margin: 10px 0 0 0;
  //    font-size: medium;
  //  }
  //
  //}
  //

}

header {
  @extend .header
}
