@include component(header) {

  margin: 2em 0;

  font-size: $h1;
  font-weight: bold;
  text-align: center;
  color: color(black);
  position: relative;

  h1 {
    margin: 0;
  }

  span {
    font-weight: normal;
  }

  p {

    color: color(black);
    //padding-top: 1.2em;
    //font-size: .6em;
    font-weight: normal;
    line-height: .8em;

    @include respond-to(desktop) {
      width: 60%;
      margin: 0 auto;
    }

  }

  @include option(left) {
    text-align: left;
  }

  @include option(full) {

    text-align: left;

    p {
      width: 100%;
    }
  }

  @include option(inverted) {

    &, p {
      @extend .\+white;
    }

  }

  @include option(centered) {
    text-align: center;
  }

  @include option(classic) {

    @include title($size: large);

    p {
      margin: 10px 0 0 0;
      font-size: medium;
    }

  }

  @include option(small) {
    margin: 1em 0;
    p {
      padding: 0;
    }
  }

  @include option(light) {
    font-weight: normal;
  }

  @include option(with-divider) {
    padding-bottom: .7em;
    border-bottom: 1px solid color(black, light);
  }

}

header {
  @extend .header
}
