@mixin dreamsark-menu() {

  @include component(menu) {

    padding: 2em;
    //align-content: center;
    //align-items: center;

    a {
      //padding: 0;
    }

    @include part(item) {

      background: color(black);
      padding: .5em 2em;
      text-decoration: none;
      //display: flex;
      //text-align: center;
      //flex-direction: column;
      //flex: auto;

      @include font-style('links');

      @include option(round) {
        border-radius: 100px;
      }

      @include option(transparent) {
        background: transparent;
      }


    }

  }

}