@mixin dreamsark-menu() {

  @include component(menu) {

    padding: 1.5em .2em;

    a {

      @extend a;

      &:hover {
        @extend a:hover;
      }

    }

    @include option(inverted) {
      a {
        @extend .\+white;
      }
    }

    @include option(translucent) {

      background: color($color: pure-black, $alpha: 10);

      padding: .3em;

      a {
        @extend a.\--inverted
      }

    }

    @include respond-to(desktop) {
      padding: 2em;
    }

    @include option(compact) {
      padding: .5em;
      border-bottom: .2em solid color(gray, dark, 10);
    }

    @include option(white-background) {
      background: color(white);
    }

    @include part(brand) {

      img {

        height: auto;
        width: 7em;

        @include respond-to(desktop) {
          width: 10em;
        }

      }
    }

    @include part(item) {

      padding: .5em 1em;
      text-decoration: none;
      white-space: nowrap;
      line-height: normal;

      &:hover {
        color: color(primary, x-light, 70);
        background: color(primary, dark, 60);
      }

      @include option(active) {
        background: color(primary, dark, 50);
      }

      @include font-style('links');

    }

    @include part(avatar) {

      cursor: pointer;

      img {
        border: .22em solid color($color: primary, $tone: x-light, $alpha: 80);
        width: 4em;
        border-radius: 4em;
        text-align: center;
        transition: .1s;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(.9);
        }

      }

    }

  }

}
