@include component(modal) {

  position: relative;
  display: none;
  color: color(black);

  @include option(open) {
    display: block;
  }

  @include part(window) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* Sit on top */
    overflow: auto;
    background-color: color($color: pure-black, $alpha: 90);
  }

}
