@include component(nav) {

  text-align: center;
  @include box-shadow();

  @include colors($background-color: true) {

    @include option(basic) {
      @if lightness(color($color)) < 50 {
        @extend %color-white;
      }
    }

    @include part(content) {

      @include part(item) {

        @if $background-color == white {
          $background-color: primary !global;
        } @else {
          $background-color: color($background-color, dark);
        }

        @include tab(
                $text-color: $color,
                $stroke-color: $background-color);

        @if $background-color == transparent-white {
          &:hover {
            color: color(white, dark) !important
          }
        }

      }
    }
  }

  @include option(color-transparent) {
    background-color: none;
    box-shadow: none;
  }

  @include part(content) {

    margin: 0;
    padding: 0;
    list-style: none;

    a {
      @include font-style($style: links, $color: black);
      text-decoration: none;
    }

    @include part(item) {

      padding: 1em;
      margin: 0 .2em;
      white-space: nowrap;

      @include tab();

    }

  }

  @include option(basic) {
    background: none;
    box-shadow: none;
  }

}
