@include component(progress) {

  margin: .8em 0;

  @include option(animated) {
    @include base-scalable($scale: 1.05) {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  @include option(mini) {

    & .progress__label {
      font-size: .8em;
    }

    & .progress__bar__completion {
      height: .3em;
    }

  }

  @include part(label) {

    padding: .3em 0;
    font-weight: normal;

    span {
      float: right;
    }

  }

  @include part(bar) {

    font-size: smaller;
    font-weight: bold;
    border-radius: 1em;

    background: color(gray);

    @include part(completion) {
      border-radius: 1em;
      position: relative;
      height: 1.2em;
      width: 100%;
      background: color(success);
    }

    @include option(flat) {

      border-radius: 0;

      & > div {
        border-radius: 0;
      }

    }

    @each $color in $colors {
      @include option(color-#{nth($color, 1)}) {
        & .progress__bar__completion {
          background: color(nth($color, 1));
        }
      }
    }

  }

}
