@include component(progress) {

  position: relative;
  margin: .8em 0;
  padding: 0;

  @include option(animated) {
    @include base-scalable($scale: 1.05) {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  @include option(mini) {

    & .progress__label {
      font-size: .8em;
    }

    & .progress__bar__completion {
      height: .3em;
    }

  }

  @include part(label) {

    padding: .3em 0;
    font-weight: normal;

    @include option(size-large) {

      display: flex;
      align-items: center;
      height: 100%;
      position: absolute;
      z-index: 999;
      margin: auto;
      //width: 60%;
      color: color(white);
      font-weight: bold;
      padding: 0 1em;
      text-transform: uppercase;

      span {
        flex: 1;
        display: block;
        //width: 100%;
        right: 0;
        text-align: right !important;
      }

    }

    span {
      float: right;
    }

  }

  @include part(bar) {

    font-size: smaller;
    font-weight: bold;
    border-radius: 1em;

    background: color(white);

    @include part(completion) {
      border-radius: 1em;
      position: relative;
      height: 1.2em;
      width: 100%;
      max-width: 100%;
      background: color(success);

      @include option(size-large) {
        height: 4em;
      }

    }

    @include option(flat) {

      border-radius: .2em;

      & > div {
        border-radius: .2em 0 0 .2em;
      }

    }

    @each $color in $colors {

      @include option(color-#{nth($color, 1)}) {

        & .progress__bar__completion {
          background: color(nth($color, 1));
        }

      }

    }

  }

}
