@mixin dreamsark-segment() {

  @include component(segment) {

    border: 1px solid color(gray, mid-dark);
    background: color(white, mid-light);
    border-radius: 3px;

    box-shadow: 0 10px 10px 0 color(gray, dark, 13);

  }

}

