@include component(statistic) {

  font-weight: bold;
  line-height: normal;

  @include part(item) {
    span {
      display: block;
      text-transform: uppercase;
    }
  }

  @include option(small) {

    font-size: x-small;

    @include part(item) {

      @include font-size(large);

      span {
        font-size: x-small;
      }

    }

  }

  @include option(large) {

    @include part(item) {

      @include font-size(large);

      span {
        font-size: small;
      }

    }

  }

}
