@include component(statistic) {

  font-weight: bold;
  line-height: normal;

  @include part(item) {
    span {
      display: block;
      text-transform: uppercase;
    }

    @include option(spherical) {
      @include border-radius(circle);
      display: flex;
      align-items: center;
      align-content: flex-end;
      align-self: center;
      flex-direction: column;

      width: 100px;
      height: 100px;
      object-fit: cover;
      background: color(red);

    }

  }

  @include option(sphere) {

  }

  @include option(small) {

    font-size: x-small;

    @include part(item) {

      @include font-size(large);

      span {
        font-size: x-small;
      }

    }

  }

  @include option(large) {

    @include part(item) {

      @include font-size(h1);

      span {
        font-size: small;
      }

    }

  }

}
