@include component(steps) {

  display: flex;
  justify-content: space-around;
  padding: 0 5em 1.3em 5em;
  position: relative;
  z-index: 1;

  @include part(step) {

    position: relative;

    @include part(container) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: .8em 2em;

      background-color: color(white);
      border: 1px dashed color(gray);
      border-radius: 50%;

      color: color(gray);
      font-weight: 600;
      text-align: center;

      &:before, &:after {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto;
        right: 0;
        z-index: -1;
      }

      &:before {
        left: -140%;
        background: color(gray, light);
      }

      &:after {
        left: 70%;
        background: color(gray, light);
      }

    }

    @include part(description) {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      display: block;
      color: color(gray, dark);
      font-weight: normal;
      font-size: 13px;
    }

    @include option(active) {

      .steps__step__container {

        border: solid color(primary);
        color: color(primary);

        &:before {
          background: linear-gradient(to right, color(success) 0%, color(primary) 100%);
        }

        &:after {
          color: color(primary);
        }
      }

    }

    @include option(done) {

      .steps__step__container {
        background-color: color(success);
        border-color: color(success);
        color: color(white);

        &:before {
          background-color: color(success);
        }

        &:after {
          background: color(success);
        }

      }
    }

  }

}
