@include component(table) {

  @include table(even);
  @include table-hover;
  @include option(stack) {
    @include breakpoint(medium down) {
      @include table-stack;
    }
  }

  $radius: .3em;

  border: 1px solid color(gray);
  border-spacing: 0;
  border-collapse: separate;
  border-radius: $radius;

  @include colors($text-color: false) {

    border: 1px solid $color;

    @include option(attached-top) {
      border-top: 1px solid lighten($color, 10);
    }

    thead {

      color: color(white);
      background-color: $color;

      tr:hover {
        background-color: $color;
      }

    }

    tr {

      &:hover {
        background-color: lighten($color, 40);
      }

      &:nth-of-type(even) {
        background-color: lighten($color, 47);
        &:hover {
          background-color: lighten($color, 35);
        }
      }

    }

  }

  thead tr th, tbody tr td {
    padding: 1em;

    @include option(compact) {
      width: 1%;
    }

  }

  thead tr th:first-child {
    border-top-left-radius: $radius;
  }

  thead tr th:last-child {
    border-top-right-radius: $radius;
  }

  tbody tr:last-child td:first-child {
    border-bottom-left-radius: $radius;
  }

  tbody tr:last-child td:last-child {
    border-bottom-right-radius: $radius;
  }

  @include part(action) {

    display: flex;

    button {
      margin: 0 .5em !important;
    }

  }

  @include option(attached-top) {

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    thead tr th:first-child {
      border-top-left-radius: 0;
    }

    thead tr th:last-child {
      border-top-right-radius: 0;
    }

  }
}

table {
  @extend .table;
}
