@include tweak(white) {
  color: color(white);
}

@include tweak(align-right) {
  text-align: right;
}

@include tweak(no-round-bottom) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@include tweak(overlapped) {
  position: relative;
  margin-top: -3em;
  z-index: 3;
}

@include tweak(currency) {
  &:before {
    content: attr(data-curency-symbol);
    margin-right: .1em;
  }
}

@include tweak(round) {
  border-radius: 100px;
}

@include tweak(transparent) {
  background: transparent;
}

@include tweak(bold) {
  font-weight: bold;
}

@include tweak(full-height) {
  height: 100%;
}

@include tweak(full-width-on-mobile) {
  width: 100%;
  @include respond-to(desktop) {
    width: inherit;
  }
}

@include tweak(center) {
  text-align: center;
}

@include tweak(left) {
  text-align: left;
}

@include tweak(justify) {
  text-align: justify;
}

@include tweak(center-on-mobile) {
  @include breakpoint(small down) {
    text-align: center;
  }
}

@include tweak(justify-on-mobile) {
  @include breakpoint(small down) {
    text-align: justify;
  }
}

@include tweak(no-padding) {
  padding: 0;
}

@include tweak(padding-top) {
  padding-top: 4em;
}

@include tweak(padding-up-down) {
  padding-top: 1em;
  padding-bottom: 1em;
}

@include tweak(padding-top-small) {
  padding-top: 2em;
}

@include tweak(no-margin) {
  margin: 0;
}

@include tweak(margin-top) {
  margin-top: 4em;
}

@include tweak(margin-top-small) {
  margin-top: 2em;
}

@include tweak(margin-bottom) {
  margin-bottom: 2em;
}

@include tweak(margin-bottom-small) {
  margin-bottom: 1em;
}

@include tweak(large-margin-bottom) {
  margin-bottom: 10em;
}

@include tweak(no-margin-top) {
  margin-top: 0;
}

@include tweak(no-margin-bottom) {
  margin-bottom: 0;
}

@include tweak(hidden) {
  display: none;
}

@include tweak(hidden-on-mobile) {
  @include breakpoint(small down) {
    display: none;
  }
}

@include tweak(hidden-on-desktop) {
  @include respond-to(mobile) {
    display: none;
  }
}

@include tweak(shadow) {
  box-shadow: 0 8px 16px 0 color($color: black, $alpha: 20);
}

@include tweak(text-shadow) {
  text-shadow: .1em .1em .3em color($color: black, $alpha: 33);
}

@include tweak(uppercase) {
  text-transform: uppercase;
}

@include tweak(circle) {
  border-radius: 100% !important;
}

@each $color in $colors {

  @include tweak(color-#{nth($color, 1)}) {
    @extend %color-#{nth($color, 1)};
  }

}

/**
* profile-color-actor...
*/
@each $color in $profile-colors {

  $color: nth($color, 1);

  @include tweak('profile-color-'+$color) {

    color: profile-color($color);

    img {
      background: profile-color($color);
    }

    a:hover {
      color: profile-color($color);
    }

    svg {
      fill: profile-color($color);
    }

  }

}

@for $i from 1 through 10 {

  @include tweak(z-#{$i}) {
    z-index: $i;
  }

}


