@include component(ul) {

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  list-style: none;


  li {

    padding: .2em 0;

    @include option(active) {
      color: color(primary);
      a {
        color: color(primary);
      }
    }

  }

  @include option(inline) {
    flex-direction: row;

    li {
      @include all-but(1) {
        padding-left: 1em;
      }
    }
  }

  @include option(tight) {
    li {
      @include all-but(1) {
        padding-left: 0;
      }
    }
  }

  @include option(divided) {

    li {

      &:after {
        margin: 0;
        padding: 0;
        content: '|';
        padding: 0 .8em;
      }

      @include last-child() {
        &:after {
          content: '';
          padding: 0;
        }
      }

    }
  }

  @include option(right) {
    justify-content: flex-end;
  }

  @include option(meta) {

    font-size: .8em;
    color: color(gray);

    @include a-meta();

  }

}

ul {
  @extend .ul;
}
