@include component(ul) {

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  list-style: none;

  @include option(with-bullets) {
    list-style: disc;
    padding: 0 1em;
    line-height: normal;
  }

  @include option(evenly) {
    justify-content: space-around;
  }

  @include option(tight) {
    li {
      padding: 0;
    }
  }

  li {

    padding: .2em 0;

    @include option(active) {
      color: color(primary);
      a {
        color: color(primary);
      }
    }

    @include option(title) {

      padding: 0;
      list-style: none;
      text-transform: uppercase;
      margin-left: -1em;
      margin-bottom: 1em;
      font-weight: bold;

    }

  }

  @include option(inline) {
    flex-direction: row;
    align-items: center;
    //margin: 1em 0;

    li {

      padding: .2em;

      @include option(start) {
        margin-right: auto;
      }

    }

  }

  @include option(tight) {
    //li {
    //  @include all-but(1) {
    //    padding-left: 0;
    //  }
    //}
  }

  @include option(bold) {
    font-size: smaller;
    font-weight: bolder;
    text-transform: uppercase;
  }

  @include option(divided) {

    li {

      &:after {
        margin: 0;
        padding: 0;
        content: '|';
        padding: 0 .8em;
      }

      @include last-child() {
        &:after {
          content: '';
          padding: 0;
        }
      }

    }
  }

  @include option(right) {
    justify-content: flex-end;
  }

  @include option(meta) {

    font-size: .8em;
    color: color(gray);

    @include a-meta();

  }

  @include option(tab) {

    li {
      @include tab($stroke-color: white);
      padding: 1em;
    }

  }

}

ul {
  @extend .ul;
}
