/**
* Import Third Party Frameworks
*/
/**
 * Calculate column size percentage
 */
/**
 * Spacing mixin to create uniform margin/padding
 */
.segments .segment.\--columns-mobile, .segments .segment.\--columns-small, .segments .segment.\--columns-desktop, .segments .segment.\--columns-large, .segments .segment.\--mobile-1-columns, .segments .segment.\--mobile-2-columns, .segments .segment.\--mobile-3-columns, .segments .segment.\--mobile-4-columns, .segments .segment.\--mobile-5-columns, .segments .segment.\--mobile-6-columns, .segments .segment.\--mobile-7-columns, .segments .segment.\--mobile-8-columns, .segments .segment.\--mobile-9-columns, .segments .segment.\--mobile-10-columns, .segments .segment.\--mobile-11-columns, .segments .segment.\--mobile-12-columns, .segments .segment.\--small-1-columns, .segments .segment.\--small-2-columns, .segments .segment.\--small-3-columns, .segments .segment.\--small-4-columns, .segments .segment.\--small-5-columns, .segments .segment.\--small-6-columns, .segments .segment.\--small-7-columns, .segments .segment.\--small-8-columns, .segments .segment.\--small-9-columns, .segments .segment.\--small-10-columns, .segments .segment.\--small-11-columns, .segments .segment.\--small-12-columns, .segments .segment.\--desktop-1-columns, .segments .segment.\--desktop-2-columns, .segments .segment.\--desktop-3-columns, .segments .segment.\--desktop-4-columns, .segments .segment.\--desktop-5-columns, .segments .segment.\--desktop-6-columns, .segments .segment.\--desktop-7-columns, .segments .segment.\--desktop-8-columns, .segments .segment.\--desktop-9-columns, .segments .segment.\--desktop-10-columns, .segments .segment.\--desktop-11-columns, .segments .segment.\--desktop-12-columns, .segments .segment.\--large-1-columns, .segments .segment.\--large-2-columns, .segments .segment.\--large-3-columns, .segments .segment.\--large-4-columns, .segments .segment.\--large-5-columns, .segments .segment.\--large-6-columns, .segments .segment.\--large-7-columns, .segments .segment.\--large-8-columns, .segments .segment.\--large-9-columns, .segments .segment.\--large-10-columns, .segments .segment.\--large-11-columns, .segments .segment.\--large-12-columns {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.segments .segment.\--columns-mobile, .segments .segment.\--columns-small, .segments .segment.\--columns-desktop, .segments .segment.\--columns-large {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.segments {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem; }
  .segments .segment {
    /**
      * GRID CONSTRUCTION
      */ }
    .segments .segment__content {
      margin: .5rem;
      padding: 1.5rem;
      border: 1px solid color(white, dark);
      background: color(white);
      border-radius: 0.3125rem;
      box-shadow: 0 10px 10px 0 rgba(199, 199, 199, 0.13); }
    .segments .segment.\--1-columns {
      -ms-flex-preferred-size: 8.3333333333%;
      flex-basis: 8.3333333333%;
      max-width: 8.3333333333%; }
    .segments .segment.\--2-columns {
      -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%; }
    .segments .segment.\--3-columns {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%; }
    .segments .segment.\--4-columns {
      -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%; }
    .segments .segment.\--5-columns {
      -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%; }
    .segments .segment.\--6-columns {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%; }
    .segments .segment.\--7-columns {
      -ms-flex-preferred-size: 58.3333333333%;
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%; }
    .segments .segment.\--8-columns {
      -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%; }
    .segments .segment.\--9-columns {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%; }
    .segments .segment.\--10-columns {
      -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%; }
    .segments .segment.\--11-columns {
      -ms-flex-preferred-size: 91.6666666667%;
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%; }
    .segments .segment.\--12-columns {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%; }
    .segments .segment.\--offset-1 {
      margin-left: 8.3333333333%; }
    .segments .segment.\--offset-2 {
      margin-left: 16.6666666667%; }
    .segments .segment.\--offset-3 {
      margin-left: 25%; }
    .segments .segment.\--offset-4 {
      margin-left: 33.3333333333%; }
    .segments .segment.\--offset-5 {
      margin-left: 41.6666666667%; }
    .segments .segment.\--offset-6 {
      margin-left: 50%; }
    .segments .segment.\--offset-7 {
      margin-left: 58.3333333333%; }
    .segments .segment.\--offset-8 {
      margin-left: 66.6666666667%; }
    .segments .segment.\--offset-9 {
      margin-left: 75%; }
    .segments .segment.\--offset-10 {
      margin-left: 83.3333333333%; }
    .segments .segment.\--offset-11 {
      margin-left: 91.6666666667%; }
    @media only screen and (min-width: 768px) {
      .segments .segment.\--small-1-columns {
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .segments .segment.\--small-2-columns {
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .segments .segment.\--small-3-columns {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%; }
      .segments .segment.\--small-4-columns {
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .segments .segment.\--small-5-columns {
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .segments .segment.\--small-6-columns {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%; }
      .segments .segment.\--small-7-columns {
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .segments .segment.\--small-8-columns {
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .segments .segment.\--small-9-columns {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%; }
      .segments .segment.\--small-10-columns {
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .segments .segment.\--small-11-columns {
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .segments .segment.\--small-12-columns {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%; }
      .segments .segment.\--offset-small-1 {
        margin-left: 8.3333333333%; }
      .segments .segment.\--offset-small-2 {
        margin-left: 16.6666666667%; }
      .segments .segment.\--offset-small-3 {
        margin-left: 25%; }
      .segments .segment.\--offset-small-4 {
        margin-left: 33.3333333333%; }
      .segments .segment.\--offset-small-5 {
        margin-left: 41.6666666667%; }
      .segments .segment.\--offset-small-6 {
        margin-left: 50%; }
      .segments .segment.\--offset-small-7 {
        margin-left: 58.3333333333%; }
      .segments .segment.\--offset-small-8 {
        margin-left: 66.6666666667%; }
      .segments .segment.\--offset-small-9 {
        margin-left: 75%; }
      .segments .segment.\--offset-small-10 {
        margin-left: 83.3333333333%; }
      .segments .segment.\--offset-small-11 {
        margin-left: 91.6666666667%; } }
    @media only screen and (min-width: 992px) {
      .segments .segment.\--desktop-1-columns {
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .segments .segment.\--desktop-2-columns {
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .segments .segment.\--desktop-3-columns {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%; }
      .segments .segment.\--desktop-4-columns {
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .segments .segment.\--desktop-5-columns {
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .segments .segment.\--desktop-6-columns {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%; }
      .segments .segment.\--desktop-7-columns {
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .segments .segment.\--desktop-8-columns {
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .segments .segment.\--desktop-9-columns {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%; }
      .segments .segment.\--desktop-10-columns {
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .segments .segment.\--desktop-11-columns {
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .segments .segment.\--desktop-12-columns {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%; }
      .segments .segment.\--offset-desktop-1 {
        margin-left: 8.3333333333%; }
      .segments .segment.\--offset-desktop-2 {
        margin-left: 16.6666666667%; }
      .segments .segment.\--offset-desktop-3 {
        margin-left: 25%; }
      .segments .segment.\--offset-desktop-4 {
        margin-left: 33.3333333333%; }
      .segments .segment.\--offset-desktop-5 {
        margin-left: 41.6666666667%; }
      .segments .segment.\--offset-desktop-6 {
        margin-left: 50%; }
      .segments .segment.\--offset-desktop-7 {
        margin-left: 58.3333333333%; }
      .segments .segment.\--offset-desktop-8 {
        margin-left: 66.6666666667%; }
      .segments .segment.\--offset-desktop-9 {
        margin-left: 75%; }
      .segments .segment.\--offset-desktop-10 {
        margin-left: 83.3333333333%; }
      .segments .segment.\--offset-desktop-11 {
        margin-left: 91.6666666667%; } }
    @media only screen and (min-width: 1200px) {
      .segments .segment.\--large-1-columns {
        -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .segments .segment.\--large-2-columns {
        -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .segments .segment.\--large-3-columns {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%; }
      .segments .segment.\--large-4-columns {
        -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .segments .segment.\--large-5-columns {
        -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .segments .segment.\--large-6-columns {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%; }
      .segments .segment.\--large-7-columns {
        -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .segments .segment.\--large-8-columns {
        -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .segments .segment.\--large-9-columns {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%; }
      .segments .segment.\--large-10-columns {
        -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .segments .segment.\--large-11-columns {
        -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .segments .segment.\--large-12-columns {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%; }
      .segments .segment.\--offset-large-1 {
        margin-left: 8.3333333333%; }
      .segments .segment.\--offset-large-2 {
        margin-left: 16.6666666667%; }
      .segments .segment.\--offset-large-3 {
        margin-left: 25%; }
      .segments .segment.\--offset-large-4 {
        margin-left: 33.3333333333%; }
      .segments .segment.\--offset-large-5 {
        margin-left: 41.6666666667%; }
      .segments .segment.\--offset-large-6 {
        margin-left: 50%; }
      .segments .segment.\--offset-large-7 {
        margin-left: 58.3333333333%; }
      .segments .segment.\--offset-large-8 {
        margin-left: 66.6666666667%; }
      .segments .segment.\--offset-large-9 {
        margin-left: 75%; }
      .segments .segment.\--offset-large-10 {
        margin-left: 83.3333333333%; }
      .segments .segment.\--offset-large-11 {
        margin-left: 91.6666666667%; } }

.item {
  background-color: CornflowerBlue;
  border-radius: 2px;
  display: block;
  height: 2rem;
  margin-bottom: 1rem;
  width: 100%; }

/**
* Initiate things up
*/

/*# sourceMappingURL=app.css.map */
