<div class="row --fluid modal">

    <div class="row align-middle align-center modal__window">

        <div class="small-12 medium-8">

            <div class="row">

                <div @click="close" class="small-12 columns form__header --color-success --rounded">
                    {{ header }}
                </div>

                <div class="small-12 columns form__content --rounded">
                    <slot></slot>
                </div>

            </div>

        </div>
    </div>

</div>
