//@include component(dropdown) {
//
//  position: relative;
//  display: inline-block;
//  color: color(black);
//
//  @include option(show) {
//
//    & .dropdown__trigger {
//      color: color(primary);
//    }
//
//    & .dropdown__content {
//      display: block;
//    }
//  }
//
//  @include part(trigger) {
//
//    cursor: pointer;
//    font-weight: bold;
//
//    &, a {
//      color: color(black);
//      text-decoration: none;
//    }
//
//    &:hover, a:hover {
//      color: color(primary);
//    }
//
//  }
//
//  @include part(content) {
//
//    position: absolute;
//    margin-top: 1em;
//    background-color: color(white);
//    box-shadow: 0 8px 16px 0 color($color: black, $alpha: 20);
//    border: 1px solid color($color: gray, $alpha: 40);
//    border-radius: .2em;
//    cursor: pointer;
//    white-space: nowrap;
//    right: 0;
//
//    display: none;
//
//    a {
//      text-decoration: none;
//      color: color(black);
//      display: block;
//    }
//
//    @include part(item) {
//
//      text-align: left;
//
//      padding: .8em 1.8em;
//      border-bottom: 1px solid color($color: gray, $alpha: 50);
//
//      &:hover {
//        background-color: color($color: gray, $alpha: 20);
//      }
//
//      @include last(1) {
//        border-bottom: transparent;
//      }
//
//    }
//
//  }
//
//}

@include component(dropdown) {

  position: relative;
  display: inline-block;
  margin: 0 .1em;

  @include unique() {
    margin: 0;
  }

  i {
    pointer-events: none;
  }

  @include part(trigger) {

    display: block;

    @include option(mode-button) {
      @extend %input-base;
    }

    @include option(mode-simple) {
      color: inherit;
      border: none;
      font-size: inherit;
      font-weight: inherit;
      padding: inherit;
      line-height: inherit;
    }

    @include part(avatar) {

      display: inline-block;
      padding: 0;
      margin: 0;

      border: none;
      border-radius: 0;
      padding: 0;
      line-height: normal;

      img {
        margin-right: .8em;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

    }

  }

  @include part(options) {

    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    white-space: nowrap;

    min-width: 100%;
    padding: .5em 0;
    margin: 1em 0 0;

    background-color: color(white);

    @include border();
    @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
    @include border-radius(tiny);
    @include font-size(normal);

    @include option(open) {
      display: block;
    }

    @include option(pop-up) {
      margin-top: -100%;
      top: -100%;
    }

    @include option(pop-center) {
      //todo
    }

    li {

      text-align: left;
      color: color(black);
      width: 100%;
      padding: .5em 1.5em !important;
      cursor: pointer;

      @include font-size(small);
      @include font-weight(normal);
      @include transition(fast) {
        transition-property: color, background-color;
      }

      &:hover {
        color: color(pure-black);
        background-color: color(gray, mid-light);
      }

      i {
        @include font-size(small);
        margin-right: .5em;
      }

    }

  }

}
