%input-base{

  padding: .8em 1.2em;

  @include border();
  @include font-size(normal);
  @include font-weight(normal);
  @include border-radius(tiny);
  @include transition(super-fast) {
    transition-property: color, background-color, box-shadow, border-color;
  }

  &:hover {
    color: color(pure-black);
    background-color: color(gray, light);
    border-color: color(gray)
  }

  &:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px color($color: pure-black, $alpha: 12);
    border-color: color($color: gray, $alpha: 70);
  }

}

input, .input {

  font-size: 1em;
  font-weight: normal;
  color: color(gray, dark);

  width: 100%;
  padding: 1em;
  margin: 0;

  background: color(gray, light, 30);
  border: 1px solid color(gray, light, 80);
  border-radius: .5em;

  &:hover {
    background: color(gray, light, 50);
    color: color(gray, x-dark);
  }

  &:focus {
    outline: 0;
  }

  &:active {
    outline: 0;
  }

  @include option(error) {
    color: color(danger);
    border: 1px solid color(danger, light, 80);
  }

}
