@include component(select) {

  @extend input;

  height: 3.5em;

  option {
  }

  @include option(simple) {
    padding: 0;
    height: auto;
    border: none;
    background: none;
    width: auto;
  }

}

select {
  @extend .select;
}
