@charset "UTF-8";

/**
* Import Third Party Frameworks
*/
@import '../../../node_modules/normalize.css/normalize';
@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/csstyle/csstyle';
@import '../../../node_modules/family.scss/family';
@import 'app/functions';
@import 'app/colors';
@import 'app/variables';
@import 'app/fonts';
@import 'components/form/forms';
@import 'components/global';
@import 'components/segment';

/**
* Initiate things up
*/
//@include foundation-global-styles;
//@include foundation-grid;
@include dreamsark-global;
@include dreamsark-segment;
//@include dreamsark-forms;

/**
* test
*/
.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}

//
///**
//* Components
//*/
//@import 'components/colors';
//@import 'components/form';
//@import 'components/input';
//@import 'components/button';
//@import 'components/card';
//@import 'components/segment';
//@import 'components/slider';
//@import 'components/banner';
//@import 'components/thumbnail';
//@import 'components/advertising';
//
///**
//* Layout
//*/
//@import 'layout/global';
//@import 'layout/top-bar';
//@import 'layout/header/header';
//@import 'layout/header/mini-header';
//@import 'layout/header/small-header';
//@import 'layout/header/huge-header';
//@import 'layout/content';
//@import 'layout/footer';
//@import 'layout/start';
//@import 'layout/enter-page';