@include component(row) {

  @include option(fluid) {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  @include option(white-background) {
    background: color(white);
    border-top: 1px solid color($color: gray, $alpha: 55);
  }

  @include option(large-padding) {
    padding: 3em;
  }

  .column, .columns {

  }

}
