$font-sizes: (
        h1: 2em,
        h2: 1.5em,
        h3: 1.2em,
        h4: 1em,
        h5: .8em,
        h6: .5em,
        h7: .4em,
        xx-larger: xx-large,
        x-larger: x-large,
        larger: larger,
        large: large,
        medium: medium,
        normal: 1em,
        small: small,
        smaller: smaller,
) !default;

$font-weights: (
        lighter: 100,
        light: 300,
        normal: 400,
        bold: 600,
        bolder: 900
) !default;

$border-types: (
        suttle: color(gray),
        dark: color(gray, dark),
        error: color(danger, x-light),
) !default;

$border-radius-sizes: (
        tiny: .2em,
        small: .4em,
        medium: .8em,
        large: 1em,
        circle-em: 50em,
        circle: 100%
) !default;

$transition-times: (
        slow: .5s,
        fast: .25s,
        super-fast: .15s,
        super-slow: 1s
) !default;


