$colors: (
        white: Color(#f1f1f1),
        black: Color(#353832),
        gray: Color(#ededed),
        primary: Color(#017eaf),
        red: Color(#d9534f),
        blue: Color(#0083ff),
        yellow: Color(#eacc00),
        green: Color(#32ea00),
        purple: Color(#6900a5),
        tomato: Color(#af0101),
        golden: Color(#ffc326),
);