@function Color($color) {

  @return (
          x-dark : darken($color, 25%),
          dark : darken($color, 15%),
          mid-dark : darken($color, 5%),
          base : $color,
          mid-light : lighten($color, 5%),
          light : lighten($color, 15%),
          x-light : lighten($color, 50%),
  );

}

@function color($color, $tone: 'base', $alpha: 100) {
  @return rgba(map-get(map-get($colors, $color), $tone), $alpha/100);
}

@function profile-color($color, $tone: 'base', $alpha: 100) {
  @return rgba(map-get(map-get($profile-colors, $color), $tone), $alpha/100);
}

@function get-url($url) {
  @return url('http://192.168.1.226:8080/img/' + $url);
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media only screen and (min-width: 900px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 1500px) {
      @content;
    }
  }
}

@mixin page($name) {
  @include component($name+"-page") {
    @content;
  }
}
