@mixin a-meta() {

  a {

    color: color(gray);
    padding-bottom: 2px;
    border-bottom: 1px dotted transparent;

    &:hover {
      color: color(gray, x-dark);
      border-bottom: 1px dotted color(gray);
    }

    i {
      margin-right: .3em;
    }

  }

}

@mixin base-header() {

  @include part(header) {

    @extend .base-page__header;

    @content;

    @include option(animated){
      @extend .base-page__header.\--animated;
    }

    @include option(default){
      @extend .base-page__header.\--default;
    }

    @include part(overlay) {
      @extend .base-page__header__overlay;
      @include option(animated){
        @extend .base-page__header__overlay.\--animated;
      }
    }

  }
}

@mixin base-scalable($scale: 1.2, $time: .25, $active-scale: 20) {

  transition: transform $time+s;
  @content;

  &:hover {
    transform: scale($scale);
  }

  &:active{
    transform: scale(($scale / (100 + $active-scale)) * 100);
  }

}
