<div class="form__field" :class="[{ '--error': errors }, {'--required': required}, {'--optional': optional}]">

    <label v-if="label" :for="name">{{ label }}</label>

    <input v-if="model"
           v-model="$root.$data.model[name]"
           :class="{'--error': errors}"
           :type="type || 'text'"
           :name="name"
           :title="title"
           :placeholder="placeholder || name"
           :value="value"
           :min="min"
           :max="max"
           :readOnly="readOnly">

    <input v-else
           :class="{'--error': errors}"
           :type="type || 'text'"
           :name="name"
           :title="title"
           :placeholder="placeholder || name"
           :value="value"
           :min="min"
           :max="max"
           :readOnly="readOnly">

    <span v-if="caption">{{ caption }}</span>

    <div v-if="errors" class="form__field__error">
        <ul v-for="error in errors">
            <li>{{ error }}</li>
        </ul>
    </div>

</div>
