<div class="form__field" :class="{ '--error': errors }">

    <label v-if="label" :for="name">{{ label }}</label>

    <textarea :class="{ '--error': errors }"
              :type="type || 'text'"
              :name="name"
              :title="title"
              :placeholder="placeholder || name"
              :rows="rows"
              :readOnly="readOnly">{{ value }}</textarea>

    <div v-if="errors" class="form__field__error">
        <ul v-for="error in errors">
            <li>{{ error }}</li>
        </ul>
    </div>

</div>
